<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExchangeServiceURL" value="https://webmail.XYZ.com.au/EWS/Exchange.asmx"/>
    <add key="FromEmail" value="Jeremy.Thompson@XYZ.com.au"/>
    <add key="EmailSupport" value="me@hotmail.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>